.exam_testpage{
	width: 100%;
}
.content{
	width: 100%;
	height: 770px;
}
.content_show{
	width: 1120px;
	height: inherit;
	margin: 50px auto;
}
.test_contain{
	width: inherit;
	height: 380px;
}
.test_contain_left{
	width: 175px;
	height: inherit;
	float: left;
}
.theory_test{
	width: inherit;
	height: 55px;
}
.local_info{
	width: inherit;
	height: 45px;
}
.local_info>span{
	display: block;
	width: inherit;
	height: 20px;
	font-size: 13px;
	text-align: center;
	margin-top: 5px; 
}
.candidate_msg{
	width: inherit;
	height: 325px;
}
.candidate_info{
	width: inherit;
	height: 315px;
}
.photo{
	width: inherit;
	height: 110px;
	margin-top: 25px;
}
.photo>img{
	width: 110px;
	height: 110px;
	margin: 0px auto;
	display: block;
	border: 1px solid #d3d3d3;
}
.msg_text{
	width: 150px;
	height: 130px;
	margin: 20px auto;
}
.msg_text>p{
	font-size: 15px;
	margin-top: 5px; 
}
.test_contain_right{
	width: 930px;
	height: inherit;
	float: right;
}
.test_name{
	width: inherit;
	height: 370px;
}
.text_content_con{
	width: inherit;
	height: 330px;
	margin-top: 20px; 
}
.text_content_top{
	width: inherit;
	height: 270px;
}
.text_content_left{
	height: inherit;
	width: 610px;
	float: left;
}
.text_content_lshow{
	height: inherit;
	width: 580px;
	margin: 0px auto;
}
.text_content_lshow>p{
	margin-left: 30px; 
	font-size: 20px;
	margin-top: 20px; 
}
.text_question{
	width: inherit;
	font-size: 20px;
	font-weight:bold;
}
.text_question>i{
	position: absolute;
}
.text_question>p{
	margin-left: 30px; 
}

.text_content_right{
	height: inherit;
	width: 320px;
	float: right;
}
.text_content_rshow{
	height: inherit;
	width: 300px;
}
.text_content_rshow>img{
	height: 245px;
	width: inherit;
	border: 1px solid #d3d3d3;
}
.text_content_rshow>span{
	display: block;
	width: inherit;
	text-align: center;
	font-size: 14px;
}
.text_content_rshow>span>a{
	color: #499afd;
}
.text_content_btom{
	width: inherit;
	height: 50px;
	margin-top: 8px; 
}
.text_content_choose{
	width: 385px;
	height: inherit;
	float: right;
}
.choose{
	width: 45px;
	height: 45px;
	font-size: 24px;
	border: 1px solid #666666;
	background-color: #ffffff;
	border-radius: 3px;
	outline: none; 
	cursor:pointer;
}
.test_information{
	width: inherit;
	height: 65px;
}
.test_information_left{
	width: 175px;
	height: inherit;
	float: left;
}
.time_less{
	width: inherit;
	height: 55px;
}
.time_less>span{
	display: block;
	width: inherit;
	height: 30px;
	font-size: 26px;
	text-align: center;
}
.test_information_right{
	width: 595px;
	height: inherit;
	float: left;
	margin-left: 15px;
}
.tishi_msg{
	width: 595px;
	height: 55px;
}
.tishi_msg>span{
	display: block;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 10px;
}
.submit_answer{
	width: 328px;
	height: inherit;
	float: right;
} 
.prev,.next{
	width: 90px;
	height: 35px;
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: #499afd;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
}
.hand_test{
	width: 100px;
	height: 35px;
	float: right;
	margin-top: 15px;
	outline: none;
	border: none;
	border-radius: 3px;
	background-color: #339966;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
}
.test_answer{
	width: inherit;
	height: 230px;
}
.answer_msg{
	width: inherit;
	height: 225px;
}
fieldset{
	border: 1px solid #999999;
}
legend{
	font-size: 14px;
	color: red;
	margin-left: 30px; 
}
.test_answer>fieldset>ul{
	width: 1100px;
	margin: 10px auto;
	height:190px;
}
.test_answer>fieldset>ul>li{
	height:36.8px;
	width:36.8px;
	border:1px solid #d3d3d3;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.test_answer>fieldset>ul>li>a{
	color: #000000;
	font-size:18px;
	display: inline-block;
	line-height:36.8px;
	height: 36.8px;
	width: 36.8px;
	text-align: center;
}