*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration:none;
    display: inline-block;
}
li{
    list-style-type: none;
}

/*头锟斤拷锟斤拷锟�*/
#head{
    width: 100%;
    height: 90px;
}

/*锟斤拷位锟斤拷锟斤拷锟斤拷示*/
#headTop{
    width: 100%;
    height: 40px;
    background-color:  #1a1a1d;
}
/*锟斤拷位锟斤拷锟斤拷锟捷碉拷锟斤拷示*/
.headTop_show{
    width: 1120px;
    height: 40px;
    margin: 0px auto;
}
/*锟斤拷位图片锟侥匡拷*/
.location_img{
    width: 25px;
    height: 40px;
    float: left;
}
/*锟斤拷位图片锟侥达拷小锟斤拷锟斤拷*/
.location_img img{
    width: 20px;
    height: 30px;
    margin-left: 0px;
    margin-top: 5px;
}
/*锟斤拷位锟斤拷锟斤拷锟斤拷说锟斤拷*/
.location_text{
    float: left;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 微锟斤拷锟脚猴拷;
    font-size: 16px;
    text-align: center;
}
/*锟街伙拷锟介看*/
.phone_text{
    float: right;
    width: 85px;
    height: 25px;
    font-family: 微锟斤拷锟脚猴拷;
    font-size: 16px;
    margin-top: 10px;
}


/*锟斤拷锟斤拷锟斤拷锟街碉拷锟斤拷示*/
#headnav{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d3d3d3;
}
/*锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟捷碉拷锟斤拷示*/
.headnav_show{
    width: 1120px;
    height: 50px;
    margin: 0px auto;
}
/*logo锟斤拷锟斤拷*/
.logo{
    width: 240px;
    height: 50px;
    float: left;
}
/*logo图片锟斤拷锟斤拷*/
.logo img{
    width: 240px;
    height: 40px;
    margin-top: 5px;
}
/*锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷*/
.navbar{
    width: 700px;
    height: 50px;
    margin-left: 30px;
    float: left;
}
.navbar a{
    color: black;
}
.navbar ul{
    width:750px;
    height: 50px;
    margin:0px auto;
}
.navbar ul li{
    text-align: center;
    float:left;
    height: 50px;
    line-height: 50px;
    width: 120px;
    font-size: 16px;
    font-family: "微锟斤拷锟脚猴拷";
}
.navbar ul li ul {position:absolute; display:none;}

.navbar ul li ul li { text-align: center;
    float:none;
    height: 50px;
    line-height: 50px;
    width: 120px;
    font-size: 16px;
    font-family: "微锟斤拷锟脚猴拷";}

.navbar ul li ul li a { border-right:none;  color: #499afd;
    height: 49px;
    border-bottom:2px solid #499afd ;}
.navbar ul li:hover ul{ display:block; }
.navbar ul li a:hover{
    color: #499afd;
    height: 49px;
    border-bottom:2px solid #499afd ;
}
/*锟斤拷录注锟斤拷*/
.login{
    margin: 13px auto;
    float: right;
}
.clear{
    clear:both;
}


/*尾锟斤拷锟斤拷锟�*/
#foot{
    width: 100%;
    height: 305px;
    margin-top:50px;
}
.foot_bg{
    width: 100%;
    height: 260px;
    background-color: #1a1a1d;
}
.foot_links{
    height: 100px;
    width: 1120px;
    margin: 0px auto;
}
.foot_links>span{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
}
.foot_links>p{
    margin-left: 50px; 
    font-size: 15px;  
    margin-top: 5px;
}
.foot_links>p>span{
    display: inline-block;
    margin-left: 20px;
}
.foot_links>p>span>a{
    color: #999999;
}
.foot_links>p>span>a:hover{
    color: #499afd;
}
.foot_con{
    width: 1120px;
    height: 130px;
    margin:20px auto;
}
.foot_logo{
    width: 250px;
    height: inherit;
    float: left;
}
.foot_logo>img{
    width: 250px;
    height: 40px;
}
.foot_logo>p{
    font-size: 12px;
    color: #999999;
    margin-top: 5px;
}
.about_msg{
    height: inherit;
    width: 100px;
    float: left;
    margin-left:50px;
}
.about_msg>p>a{
    color: #999999;
}
.about_msg>p>a:hover{
    color: #ffffff;
}
.tel_msg{
    height: inherit;
    width: 400px;
    float: left;
    margin-left:50px;
}
.tel_msg>span,.about_msg>span,.pc_login>span{
    color: #ffffff;
    font-size: 20px;    
}
.tel_msg>p,.about_msg>p{
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
}
.pc_img>a>img{
    width: 45px;
    height: 45px;
    margin-left: 45px;
    margin-top: 15px;
}
.s1,.s2{
    display: inline-block;
    color: #999999;
    font-size: 14px;
}
.s1{
    margin-left: 35px;
}
.s2{
    margin-left: 28px;
}
.foot_right{
    width: 100%;
    height: 45px;
    background-color: #0d0d10;
    text-align: center;
}
.foot_right>span{  
    display: inline-block;
    color: #999999;
    font-size: 12px;
    margin-top:15px; 
}